@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-txt-100 bg-primary-100 dark:bg-primary-200 dark:text-txt-200;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}
